<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bank Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        <h2 style="text-align: center">Banking App</h2>
        <br>
        <br>
        <div style="text-align: center">
            <form>
                <label for="accountId">Account ID : </label>
                <input type="text" name="accountId" placeholder="Account ID">
                <br>
                <br>
                <br>
                <br>
                <input type="submit" value="Login"> &nbsp;&nbsp;
            </form>
        </div>
</body>
</html>